#title1 {
    color: white;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 0;
}

#title2 {
    margin-top: 0;
    color: #4ADF86;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

h3 {
    font-family: "JetBrains Mono", serif; 
    color: white;
    font-weight:lighter;
    font-size: medium;
}

body {
    margin: 0;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #1F2937;
    min-width: 350px;
    display: flex;
    align-items: center;
    height: 100vh; /* Makes sure body takes full viewport height */
}

.main-container {
    width: 500px;
    height: 340px;
    display: flex;
    flex-direction: column;
    border: 1px solid #4ADF86;
    background-color: #2F3E53;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px; /* Optional: Rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Optional: Box shadow */
}

#generate-btn {
    color: white;
    background-color: #4ADF86;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: "JetBrains Mono", serif; 
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}

.copy-btn {
    color: white;
    background-color: #4ADF86;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: "JetBrains Mono", serif; 
    font-size: x-small;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}

#generate-btn:hover {
    background-color: #3ecf78; /* Slightly darker green on hover */
}

::placeholder {
    color: white;
}

#pass-len {
    background-color: #2F3E53;
    color: #3ecf78;
    font-family: "JetBrains Mono", serif; 
    border: 1px solid #4ADF86;
    border-radius: 5px;
    padding: 5px 10px;
    width: 200px; /* Makes input responsive */
}

.password-btn {
    min-width: 150px;
    min-height: 20px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #4ADF86;
    background-color: #2F3E53;
    color: #4ADF86;
    font-family: "JetBrains Mono", serif;
    margin-top: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-small;
    color: white;
    gap: 10px;
}

input#pass-len {
    width: 180px; /* Makes sure input is not too small */
}
